<div class="content">
    <mat-card class="content-card">
        <mat-card-title>{{ tarefa.titulo }}</mat-card-title>
        <mat-card-content fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input 
                    matInput 
                    [value]="tarefa.titulo"
                    [(ngModel)]="tarefa.titulo"
                >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Anotação</mat-label>
                <textarea 
                    matInput 
                    [value]="tarefa.anotacao"
                    [(ngModel)]="tarefa.anotacao"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="20"
                    cdkAutosizeMaxRows="40"
                ></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="update()" >Salvar</button>
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
        </mat-card-actions>
    </mat-card>
</div>